body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
div .photo{
    background-color: aliceblue;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.gallery {
    display: flex;
    gap: 15px;
}

.photo {
    flex: 1 1 calc(33.333% - 30px);
    box-sizing: border-box;
    position: relative;
}

.photo img {
    background-size: contain;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.photo img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(126, 247, 180, 0.3);
}
